:root {
  --primary: #87888a;
  --bg: #727171;
}

* {
  font-family: "poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

body {
  font-family: "poppins", sans-serif;
  background-color: var(--bg);
  color: aliceblue;
  /* min-height: 2000px; */
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.4rem 8%;
  background-color: rgba(61, 58, 58, 0.801);
  border-bottom: 2px solid var(--primary);
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 9999;
}
/* End Navbar */

/* Navbar logo */
.navbar .navbar-logo {
  font-size: 1.8rem;
  font-weight: 680;
  color: rgb(255, 10, 10);
  font-style: italic;
}
.navbar .navbar-logo span {
  color: #e9e9e9f5;
}
/* End Navbar Logo */

/* Navbar Nav */
.navbar .navbar-nav a {
  color: aliceblue;
  display: inline-block;
  font-size: 1.1rem;
  margin: 0 1rem;
  justify-content: space-between;
}
.navbar .navbar-nav a:hover {
  color: #ff580b;
}
.navbar .navbar-nav a::after {
  content: "";
  display: block;
  padding-bottom: 0.5rem;
  border-bottom: 0.1rem solid #e0e0e0;
  transform: scaleX(0);
}
.navbar .navbar-nav a:hover::after {
  transform: scaleX(0.6);
  transition: 0.3s linear;
}
/* End Navbar Nav */

/* Navbar Icon */
.navbar .navbar-extra a {
  color: aliceblue;
  display: inline-block;
  font-size: 1.1rem;
  margin: 0 1rem;
}
.navbar .navbar-extra a:hover {
  color: #ff580b;
}
/* End Navbar-Icon */

#z-menu {
  display: none;
}

/* Hero Section */
.hero {
  min-height: 100vh;
  display: flex;
  align-items: center;
  background-image: url("../img/steak.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}
.hero::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    0deg,
    rgba(72, 71, 71) 3%,
    rgba(255, 255, 255, 0) 25%
  );
}
.hero .content {
  padding: 1.5rem 7%;
  max-width: 60rem;
}
.hero .content h1 {
  font-size: 4em;
  color: #e0e0e0;
  text-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
}
.hero .content h1 span {
  color: #ff8d0bdc;
}
.hero .content p {
  font-size: 1.6rem;
  margin-top: 1.5rem;
  color: #ffc400;
  font-weight: 100;
  line-height: 1.4;
}
.hero .content .zzz {
  margin-top: 1rem;
  display: inline-block;
  padding: 1rem 3rem;
  font-size: 1.4rem;
  color: #e0e0e0;
  background-color: #ff580b;
}

/* End Hero Section */
/* Media Queries */
/* Laptop */
@media (max-width: 1366px) {
  html {
    font-size: 75%;
  }
}
/* Tablet */
@media (max-width: 768px) {
  html {
    font-size: 62.5%;
  }
  #z-menu {
    display: inline-block;
  }
  .navbar .navbar-nav {
    position: absolute;
    top: 100%;
    right: -100%;
    background-color: #aaaaaa;
    width: 30rem;
    height: 100vh;
    transition: 0.5s;
  }

  .navbar .navbar-nav.active {
    right: 0;
  }
  .navbar .navbar-nav a {
    color: #363434;
    display: block;
    margin: 1.5rem;
    padding: 0.5rem;
    font-size: 2rem;
    font-weight: 700;
  }
  .navbar .navbar-nav a::after {
    transform-origin: 0 0;
  }
  .navbar .navbar-nav a:hover::after {
    transform: scaleX(0.3);
  }
}
/* Mobile */
@media (max-width: 450px) {
  html {
    font-size: 55%;
  }
}
/* End Media Queries */
